h1 {
    color : black;
    font-size: 500%;
    font-family: Arial, Helvetica, sans-serif;
    
}

div {
    background-color: black;
    height: 10%;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Mobile Styles */
@media (max-width: 960px) {
    body {
        background-color: orange;
    }

    #log-tam {
        height: 100%;
    }
}

/* Desktop Styles */
@media (min-width: 961px) {
    body {
        background-color: orange;
    }

    #log-tam{
        height: 100%;
    }
}