body {
    background-color: orange;
}

#divCentral {
    margin: 0 auto;
    background-color: black;
    margin-top: 30vh;
    width: 30%;
    padding-top: 3%;
    text-align: center;
}
.inputs {
    padding-top: 5%;
    padding-bottom: 5%;
}
#button {
  text-align: center; 
  border-radius: 5px;
} 
input {
    border-radius: 5%;
    height: 3vh;
    width: 80%;
    border-radius: 2px;
}


body {
    background-color: orange;
}

#divCentral {
    margin: 0 auto;
    background-color: black;
    margin-top: 30vh;
    width: 30%;
}

.inputs {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

input {
    border-radius: 5%;
    height: 5vh;
    width: 80%;

}

/*-----------------responsividade-------------------*/

@media only screen and (max-width: 700px) {
    #divCentral {
        margin: 0 auto;
        background-color: black;
        margin-top: 30vh;
        width: 85%;
        }
}

#button {
  text-align: center;  

}

@media only screen and (max-height: 380px) {
    #divCentral {
       margin: 0 auto;
       background-color: black;
       height:175px; 
     }
    input {

       height: 25px;

     }
    .inputs {
       padding-top: 25px;
       padding-bottom: 10px;;


    }

    }

