h1 {
    color : black;
    font-size: 500%;
    font-family: "Century Gothic";
    
}

#div-logo {
    background-color: black;
    height: 10%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  /* Mobile Styles */
  @media screen and (max-width: 960px) {
    body {
        background-color: orange;
    }

    #log-tam {
        height: 100%;
    }
    body{
      background: rgb(245,245,245);
      color: black;
      font-size: 15%;
      font-family: "Century Gothic";
    }
    h1{
      font-family: "Century Gothic";
      color: red;
      font-weight: lighter;
      font-size: 10%;
    }
    h2 {
      font-family: "Century Gothic";
      color: pink;
      font-weight: lighter;
      font-size: 8%;
    }
    a {
      color: orange;
      float: right;
      margin-top: 35px;
      margin-right: 12px;
      font: normal 3vh "Century Gothic";
    }
    a:hover {
      text-decoration: none;
      color: white;
    }
  #local{
    margin-top: auto;
    margin-bottom: -4px;
  }
  .tam-div {
  
  color: black;
  text-align: left;
  }
  #font-local{  
    font-size: 2.25vh; 
  }
  #txt-posto {
    font: normal 3.5vh "Century Gothic";
  
  }
  
  .logo-posto {
    width: 32vw;
    height: 27vw;
    border : 1.5px solid orange;
    
  
  }
  
  .tam-div2 {
    margin-top: 0.75vh;
    
  
  }
  
  .titulo {
    float: right;
    margin-right: 1vw;
    font-size: 2.5vh;
    color: orange;
    
    
  }
  
  #font-local2 {
    color: black;
    font-size: 2vh;
    
  }
  #mel-ben {
    font-size: 2.25vh;
  }
  
  #Filtros {
    font-size: 2vh;
  }
  
  #font-comb {
    color: black;
    font-size: 1.75vh;
    border-radius: 1vh;
  }
  
  #text-dir {
    margin-left: 4vh;
  }
  
  #text-dir2 {
    margin-left: 8vh;
  }
  }
  
  /* Desktop Styles */
  @media screen and (min-width: 961px) {
    body {
        background-color: orange;
    }

    #log-tam{
        height: 95%;
    }
    
  body{
    background: rgb(245,245,245);
    color: black;
    font-size: 25px;
    font-family: "Century Gothic";
  }
  h1{
    font-family: "Century Gothic";
    color: red;
    font-weight: lighter;
    font-size: 10px;
  }
  h2 {
    font-family: "Century Gothic";
    color: pink;
    font-weight: lighter;
    font-size: 8px;
  }
  a {
    color: orange;
    float: right;
  
    margin-right: 15px;
    margin-top: 25px;
    font-family: normal 3.5vh "Century Gothic";
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
#local{
  margin-top: auto;
  margin-bottom: -4px;

}
.tam-div {

color: black;
text-align: left;
}
#font-local{  
  font-size: 3vh;
  
}
#txt-posto {
  font: normal 3.5vh "Century Gothic";
  margin-top: 15vh;

}

.logo-posto {
  width: 20vw;
  border : 1.5px solid orange;
  

}

.tam-div2 {
  margin-top: 0.75vh;
  

}

.titulo {
  float: right;
  margin-right: 25vw;
  font-size: 3.5vh;
  color: orange;
  
  
}

#font-local2 {
  color: black;
  font-size: 3vh;
  
}
#mel-ben {
  font-size: 3vh;
}

#Filtros {
  font-size: 2.5vh;
  margin-top:2vh;
  
}

#txt-post {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: 1vh;
  margin-left: 1vh;
  width: 20%;
  height: 4%;
}

#font-comb {
  color: black;
  font-size: 2vh;
}

#text-dir {
  margin-left: 4vh;
}

#text-dir2 {
  margin-left: 8vh;
}

  }

